<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Listado Facturas</title>
        <meta charset="UTF-8"> </meta>
        
    </head>
    <body>
        <table>
            <caption>Lista de Facturas</caption>
            <tr>
                <th> No.Fac   </th>
                <th> Cod.Prod </th>
                <th> Fecha    </th>
                <th> Cod.Vend </th>
            </tr>            
            <tr th:each="factura: ${facturas}">
                <td th:text="${factura.numeroFactura}" />
                <td th:text="${factura.producto.codProducto}" />
                <td th:text="${factura.fechaVenta}" />
                <td th:text="${factura.vendedor.codVendedor}" />
            </tr>
        </table>
    </body>
</html>
