<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Consultar Vendedores</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>

<body>
    <h3>Listado de Vendedores</h3>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col"><strong>Código</strong></div>
                <div class="col"><strong>Nombre Vendedor</strong></div>
            </div>
        </div>
    </div>
    <div class="card" th:each="vendedor: ${vendedores}">
        <div class="card-body">
            <div class="row">
                <div class="col" th:text="${vendedor.codVendedor}"></div>
                <div class="col" th:text="${vendedor.nombreVendedor}"></div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>