<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cear Factura</title>
        <meta charset="UTF-8"> </meta>
        
    </head>
    <body>
        <h1>Forma para creación de Factura</h1>
        <form th:action = "@{/crear/factura}" th:object="${factura}" method="post">
            <label> Número de factura </label>
            <input id = "numerofactura" type="text" th:field ="*{numeroFactura}"/>
            <label> Código del Producto </label>
            <input id = "codigoproducto" type="text" th:field ="*{codigoProducto}"/>
            <label> Fecha de venta  </label>
            <input id = "fecha" type="date" th:field = "*{fechaVenta}"/> <br/><br/>
            <label> Código del Vendedor</label>
            <input id = "codigovendedor" type="text" th:field = "*{codigoVendedor}"/> 
            <label> Precio del Producto ($)</label>
            <input id = "valorfactura" type="text" th:field = "*{valorFactura}"/>             
            <br/> <br/>               
            <button type = "submit">Agregar Factura</button>
        </form>
    </body>
</html>
